body {
    font-family: Arial, sans-serif;
    background-color: #CADCFC;
    color: #00246B;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%;
    max-width: 600px;
  }
  
  h2 {
    text-align: center;
    color: #00246B;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type="text"] {
    width: calc(100% - 20px);
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #00246B;
  }
  
  button {
    background-color: #00246B;
    color: #00246B;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #001A4E;
  }
  
  /* Layout Field Styling */
  .layout-field {
    background-color: #00246B;
    color: #CADCFC;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  